body{
    background-color:rgb(154, 177, 158);
    display:flex;
    align-items: center;
    justify-content: center;
    height:70vh;
    margin: 0;
    font-family: 'VT323', monospace;
}

.snake{
    background-color: #3d5e1e;
}

#game-board{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 12px);
    grid-template-rows: repeat(20, 12px);
    margin: 1px;
    justify-content: center;
}

.game-border-1{
    border:#595f43 solid 2px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 2px #595f43;
}
.game-border-2{
    border:#abb78a solid 2px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 3px #595f43;
}
.game-border-3{
    border:#8b966c solid 1px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #8b966c;
}

#instruction-text{
    position:absolute;
    top: 54%;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin:0;
}

.scores{
    display: flex;
    justify-content: space-between;
}

#score,#highScore{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px ;
    margin-bottom: 1px;
}

#highScore{
    color: #d8ddca;
    display: none;
}

.game-border-3,
#logo {
    background-color: #c4cfa3;
}

.snake {
    border: #5a5a5a 1px dotted;
}

.food{
    background-color: #ececec;
    border: #999 5px solid;
}

#logo{
    position: absolute;
}

.b{
    text-align:top;
    font-size:large;
    font-family: 'VT323', monospace;
    position: fixed;
    
    width: 25%;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    padding: 0px 20px 20px 20px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	-o-border-radius: 19px;
	border-radius: 19px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    justify-content: top;

}

.b1{
    bottom:18%;
    top: 75%;
    right: 10%;
    left: 35%;
}
.b2{
    top: 82%;
    bottom: 11%;
    left: 10%;
}
.b3{
    bottom: 11%;
    top: 82%;
    left: 60%;
}
.b4{
    bottom: 4%;
    top: 89%;
    right: 25%;
    left: 35%;
}

.start-btn{
    top: 82%;
    left: 37%;
    width:20%;
    bottom: 11%;
    font-size:small;

}

.b:hover {
    background-color: #3c752d;
    color: white;
  }


@media(min-width: 800px){
    .arrows,.start-btn{
        display: none;
    }
    body{
    height: 90vh;
    }
    #game-board{
        grid-template-columns: repeat(20, 20px);
        grid-template-rows: repeat(20, 20px);
    }
    #score,#highScore{
        font-weight: bolder;
        margin: 10px 0;
    }
    .game-border-1{
        border:#595f43 solid 10px;
        box-shadow: inset 0 0 0 10px #595f43;
    }
    .game-border-2{
        border:#abb78a solid 8px;
        box-shadow: inset 0 0 0 10px #595f43;
    }
    .game-border-3{
        border:#8b966c solid 30px;
        box-shadow: inset 0 0 0 5px #8b966c;
    }
    
}